.logout {
    @mixin light {
        color: var(--app-accent-light);
        border-color: var(--app-accent-light);
        background-color: transparent;
    }

    @mixin dark {
        color: var(--app-nav-active);
        background-color: transparent;
        border-color: var(--app-nav-active);
    }
}
